.header
  padding-top: 19px
  margin-bottom: 40px
  .content
    width: 100%
    display: flex
    .arrowContainer
      width: 100%
      display: flex
      align-items: center
      justify-content: flex-start
    .logoContainer
      width: 100%
      display: flex
      align-items: center
      justify-content: flex-start
